@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bolsa de Trabajo</title>
</head>

<body>

    <div class="inicio">
        <nav>
            <div class="img">
                <img src="~/img/logo.png" width="150px" alt="">
            </div>
            <div class="accesoLogin">
                <a asp-controller="Auth" asp-action="LoginIn">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </nav>
        <div class="grid">
            <div class="grid1">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <form action="" method="get">
                    <div class="flexform">
                        <input type="text" placeholder="Buscador de Empleos..." name="busqueda" id="">
                        <select name="Localidad" id="">
                            <option value="0">Localidad</option>
                        </select>
                        <select name="Requerimientos" id="">
                            <option value="0">Requerimientos</option>
                        </select>
                        <select name="Ocupacion" id="">
                            <option value="0">Ocupacion</option>
                        </select>
                    </div>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="imginicio">
                <img src="~/img/SeekPng.com_job-interview-png_3721808.png" width="100%" alt="">

            </div>
        </div>
    </div>
    <div style="height: 100px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C114.27,272.88 271.49,-49.98 503.67,73.53 L500.00,0.00 L0.00,0.00 Z"
                  style="stroke: none; fill: #FCA311;"></path>
        </svg>
    </div>


    <div class="ultimasPublicaciones">
        <h2>Ultimas Publicaciones</h2>
        <div class="grid">
            <div class="card">
                <div class="c1">
                    <div class="fecha">dd/mm/aa</div>
                    <div class="titulo">Lorem, ipsum dolor.</div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
                        officiis.
                    </div>
                </div>
                <div class="c2">
                    <div class="sueldo">
                        Sueldo:
                        <br>
                        $499.990
                    </div>

                </div>
                <div class="c3">
                    <div class="imgempresa"><img src="~/img/logo.png" width="100px" alt=""></div>
                    <div class="infoempresa">
                        <div class="nombreempresa">NOMBRE EMPRESA</div>
                        <div class="ubicacion">CURICO, CAMINO A TUTUQUEN 10</div>
                    </div>

                </div>

                <a href="">Ver mas</a>
            </div>
            <div class="card">
                <div class="c1">
                    <div class="fecha">dd/mm/aa</div>
                    <div class="titulo">Lorem, ipsum dolor.</div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
                        officiis.
                    </div>
                </div>
                <div class="c2">
                    <div class="sueldo">
                        Sueldo:
                        <br>
                        $499.990
                    </div>

                </div>
                <div class="c3">
                    <div class="imgempresa"><img src="~/img/logo.png" width="100px" alt=""></div>
                    <div class="infoempresa">
                        <div class="nombreempresa">NOMBRE EMPRESA</div>
                        <div class="ubicacion">CURICO, CAMINO A TUTUQUEN 10</div>
                    </div>

                </div>

                <a href="">Ver mas</a>
            </div>
            <div class="card">
                <div class="c1">
                    <div class="fecha">dd/mm/aa</div>
                    <div class="titulo">Lorem, ipsum dolor.</div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
                        officiis.
                    </div>
                </div>
                <div class="c2">
                    <div class="sueldo">
                        Sueldo:
                        <br>
                        $499.990
                    </div>

                </div>
                <div class="c3">
                    <div class="imgempresa"><img src="~/img/logo.png" width="100px" alt=""></div>
                    <div class="infoempresa">
                        <div class="nombreempresa"> NOMBRE EMPRESA</div>
                        <div class="ubicacion">CURICO, CAMINO A TUTUQUEN 10</div>
                    </div>

                </div>

                <a href="">Ver mas</a>
            </div>

            <a href="/render/catalogo.html">Ver mas Publicaciones</a>
        </div>
    </div>
    <footer>
        <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
             class="transition duration-300 ease-in-out delay-150">
            <path d="M 0,400 C 0,400 0,133 0,133 C 63.317948717948724,112.13589743589743 126.63589743589745,91.27179487179487 200,98 C 273.36410256410255,104.72820512820513 356.77435897435896,139.04871794871798 446,138 C 535.225641025641,136.95128205128202 630.2666666666669,100.53333333333333 728,99 C 825.7333333333331,97.46666666666667 926.1589743589741,130.81794871794872 1000,135 C 1073.841025641026,139.18205128205128 1121.097435897436,114.19487179487179 1190,109 C 1258.902564102564,103.80512820512821 1349.4512820512819,118.4025641025641 1440,133 C 1440,133 1440,400 1440,400 Z"
                  stroke="none" stroke-width="0" fill="#fca311" fill-opacity="0.53"
                  class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
            <path d="M 0,400 C 0,400 0,266 0,266 C 54.22307692307692,294.60769230769233 108.44615384615383,323.2153846153846 199,314 C 289.55384615384617,304.7846153846154 416.4384615384615,257.74615384615385 516,261 C 615.5615384615385,264.25384615384615 687.8000000000001,317.80000000000007 745,310 C 802.1999999999999,302.19999999999993 844.3615384615384,233.05384615384614 929,230 C 1013.6384615384616,226.94615384615386 1140.753846153846,289.9846153846154 1233,307 C 1325.246153846154,324.0153846153846 1382.623076923077,295.0076923076923 1440,266 C 1440,266 1440,400 1440,400 Z"
                  stroke="none" stroke-width="0" fill="#fca311" fill-opacity="1"
                  class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
        </svg>



    </footer>

</body>

</html>