@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bolsa de Trabajo</title>
</head>

<body>
    <div class="container">
        <div class="backButton">
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-chevron-left"></i>
                Volver Atras
            </a>

        </div>
        <div class="login">
            <div class="bnv">
                <div class="img">
                    <img src="~/img/logo.png" alt="" width="130px">
                </div>
                <div class="titlebnv">
                    <h1>Bienvenido!</h1>
                </div>
                <hr>
                <div class="pbnv">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi non amet labore quisquam
                        quos inventore eum rerum, mollitia quibusdam.
                    </p>
                </div>

            </div>
            <div class="LogInp">
                <div class="containerLog">
                    <h1>Login</h1>
                    <div class="bodyLog">
                        <div class="opcionesLog">
                            <div id="logTrabajador">Soy Trabajador</div>
                            <div id="logEmpleador">Soy Empleador</div>
                        </div>
                        <div class="logForm" id="LogTrabajadorForm">
                            <form asp-action="LoginInTrabajador" method="post">
                                <input type="email" name="CorreoTrabajador" placeholder="Correo de Trabajador" id="">
                                <input type="password" name="PasswordTrabajador" id="" placeholder="Password">
                                <Button type="submit">Iniciar Sesion</Button>
                            </form>
                            <button id="registrarTrabajador">
                                Registrase
                            </button>
                        </div>
                        <div class="regForm" id="registrarTrabajadorForm" style="display:none;">
                            <form asp-action="RegistrarTrabajador" asp-controller="Auth" method="post">
                                <input type="email"  name="CorreoTrabajador_reg" placeholder="Correo" id="">
                                <input type="text"  name="RutTrabajador_reg" placeholder="RUT" id="">
                                <input type="text" name="NombreTrabajador_reg" placeholder="Nombre Completo" id="">
                                <input type="text" name="DireccionTrabajador_reg" placeholder="Direccion" id="">
                                <input type="date"  name="FechaNacimientoTrabajador_reg" placeholder="Fecha Nacimiento" id="">
                                <input type="password" name="PasswordTrabajador_reg" id="" placeholder="Password">
                                <input required type="checkbox" name="terminosYcondiciones" id="">
                                <label for="terminosYcondiciones">
                                    Acepto los <a href="">
                                        terminos y
                                        condiciones.
                                    </a>
                                </label>
                                <Button type="submit">Registrarse</Button>
                            </form>


                        </div>

                        <div class="logForm" id="logEmpleadorForm" style="display: none;">
                            <form asp-action="LoginInEmpresa" method="post">
                                <input type="text" name="CorreoEmpresa" asp-action="" placeholder="Correo de Empresa" id="">
                                <input type="password" name="PasswordEmpresa" id="" placeholder="Password">
                                <Button type="submit">Iniciar Sesion</Button>
                            </form>
                            <button id="registrarEmpleador">
                                Registrase
                            </button>

                        </div>
                        <div class="regForm" id="registrarEmpleadorForm" style="display:none;">
                            <form asp-action="RegistrarEmpresa" method="post">
                                <input type="text" name="CorreoEmpresa_reg" placeholder="Correo" id="">
                                <input type="text" name="RazonSocialEmpresa_reg" placeholder="Razon Social" id="">
                                <input type="text" name="RutRepresentanteEmpresa_reg" placeholder="RUT Representante" id="">
                                <input type="password" name="PasswordEmpresa_reg" id="" placeholder="Password">
                                <div style="text-align: left; padding-left:10px; margin-top: 20px;">
                                    <input type="checkbox" name="empresaConstituida" id="">
                                    <label for="empresaConstituida">Soy empresa constituida.</label>
                                    <br>
                                    <input required type="checkbox" name="terminosYcondiciones" id="">
                                    <label for="terminosYcondiciones">
                                        Acepto los <a href="">
                                            terminos y
                                            condiciones.
                                        </a>
                                    </label>
                                </div>
                                <Button type="submit">Registrarse</Button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script src="~/js/login.js"></script>
</body>

</html>